#container {
    width: 500px; /* Define a largura do container */
    margin: 20px auto; /* Centraliza o container na página */
}

#body{
    background: linear-gradient(to down, #007bff 0%, #00C8FF 50%, #FFFFFF 100%); /*céu*/
}


#seta-direita {
    width: 80px;
    height: 40px;
    background-color: #007bff; /* Cor azul */
    position: relative; /* Posicionamento relativo para os pseudo-elementos */
}

